
body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    height: 15rem;
}

main {
    display:flex;
    justify-content: center;
}

.adjust-img {
    height: 8em !important;
}

.planet-container {
    display: grid;
    max-width: 80%;
    max-height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

main img {
    height: 10rem;
}

.rover-cam {
    grid-column: 4/6;
    grid-row: 1/3;
    transform-origin: bottom;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.mars-facts {
    grid-column: 3/5;
    grid-row: 3/5;
    transform-origin: bottom;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.my-weight {
    grid-column: 4/6;
    grid-row: 5/6;
    transform-origin: bottom;
    align-self: flex-end;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    margin-bottom: -35px;
}

.photo-gallery {
    grid-column: 1/3;
    grid-row: 4/6;
    transform-origin: bottom;
    align-self: flex-end;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.mars-calendar {
    grid-column: 1/3;
    grid-row: 1/3;
    transform-origin: bottom;
    align-self: flex-end;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

