<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Template</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <img src="../static/images/home.png" alt="mars-project-png">
    </header>
    <main>
        <div class="planet-container">
            <a class="rover-cam bounce-1 nav-link" href="{% url 'mars' %}"><img src="../static/images/rover-cam.png" alt="rover-cam"></a>
            <a class="mars-facts bounce-1 nav-link" href="{% url 'weather' %}"><img src="../static/images/mars-weather.png" alt="mars-facts"></a>
            <a class="my-weight bounce-1 nav-link" href="{% url 'calculator-calculate' %}"><img src="../static/images/my-weight.png" alt="my-weight"></a>
            <a class="photo-gallery bounce-1 nav-link" href="{% url 'rovers' %}"><img src="../static/images/photo-gallery.png" alt="photo-gallery"></a>
            <a class="mars-calendar bounce-1 nav-link" href="{% url 'newsfeed' %}"><img src="../static/images/mars-calendar.png" alt="mars-calendar"></a>
        </div>

    </main>
    <footer>

    </footer>
    
</body>
</html>