<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Template</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <img src="../static/images/home.png" alt="mars-project-png">
    </header>
    <main>
        <div class="planet-container">
            <img src="../static/images/rover-cam.png" alt="rover-cam" class="rover-cam bounce-1">
            <img src="../static/images/mars-facts.png" alt="mars-facts" class="mars-facts bounce-1">
            <img src="../static/images/my-weight.png" alt="my-weight" class="my-weight bounce-1">
            <img src="../static/images/photo-gallery.png" alt="photo-gallery" class="photo-gallery bounce-1">
            <img src="../static/images/mars-calendar.png" alt="mars-calendar" class="mars-calendar bounce-1">
        </div>

    </main>
    <footer>

    </footer>
    
</body>
</html>